div.dropdown-item:active,
span.dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}
div.dropdown-item.active,
span.dropdown-item.active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

#server-logs pre {
    margin-bottom: 0;
    padding: 0;
}
